body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, sans-serif;
    background-color: #eddea4;
}

#root-container{
    display: grid;
    width: 1200px;
    max-width: calc(100% - 20px);
    margin: 0 auto;
    padding: 0 10px;
    grid-template-columns: 1fr 6fr;
    gap: 40px;
}

button{
    border:none;
    background-color: #F7A072;
    color: #f9f7f3;
    font-weight: bold;
    font-size: 1em;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #F7A072;

}

#left-side,
#right-side{
    background-color: #f9f7f3;
    height: 100%;
    width: 100%;
    padding: 15px;
    border: 3px solid #0FA3B1;
    border-radius: 15px;

}

#form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    #create{
        margin-left: 20px;
        text-align: center;
    }
    #create:active,
    #create:hover {
        background-color: #f9f7f3;
        color: #F7A072;
    }
}

.toggle-button{
    background-color: #f9f7f3;
    color: #F7A072;
}




.title{
    font-size: 30px;
}

.textContainer{
    width: 280px;
    height: 110px;
    border-color: rgb(71, 69, 69);
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
    background-color: rgb(247, 246, 246);
    margin: 0;
    position: relative;
}

#input {
    width: 80%;
    padding: 10px;
    margin: 12px;
    outline: none;
    background-color: rgb(247, 246, 246);
    border: none;
    font-size: 18px;   
}

.todo-card{
    width: 100%;
    height: fit-content;
    display: flex;


}
.previousNotes{
    width: 280px;
    height: 110px;
    border-color: rgb(71, 69, 69);
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
    background-color: rgb(247, 246, 246);
    margin: 10px;
    justify-content:space-between;
    display: flex;
    position: relative;
}

.noteText{
    align-self: flex-start;    
    justify-self: start;
    margin: 12px;
    font-size: 18px;
    color: rgb(71, 69, 69);

}

.deleteButton{
    height: 25px;
    width: 90px;
    margin: 12px;
    font-weight: bold;
    text-align: center;
    border-radius: 25px;
    border: none;
    background-color: rgb(209, 209, 209);
    color: rgb(71, 69, 69);
    position: absolute;
    bottom: 0;
    right: 0;
}


